@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primarycolor: #3dcc04; /* Corrected variable name */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --primary-color: var(--primarycolor); /* Corrected variable reference */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed; /* Example dark mode background color */
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
